$color-yellow: #fcb700;
$color-dark: #222222;
$color-light: #f5f6f9;
$color-white: #ffffff;
$color-gray: #666666;
$color-dark-red: #d01418;
$color-border: #6666662a;
$color-blue: #0066c0;

$border-radius-one: 7px;
$transition-duration: 0.4s;

$margin-section: 10px 0 25px;