// Import Variables File
@use "../helpers/variables" as *;

// Import Mixins File
@use "../helpers/mixins" as *;

/* Start Global Rules */
* {
  @include prefixes(box-sizing, border-box, webkit moz o ms);
}
body{
  font-family: "Rubik", serif;
  background-color: $color-light !important;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-yellow;
}
body::-webkit-scrollbar-track {
  background-color: $color-white;
}
ul{
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
a{
  text-decoration: none !important;
}
input:focus{
  outline: none;
}
.my-container {
  @include breakpoints("xl"){
    margin: 0 120px;
  }
  @include breakpoints("lg"){
    margin: 0 90px;
  }
  @include breakpoints("md"){
    margin: 0 70px;
  }
  @include breakpoints("sm"){
    margin: 0 30px;
  }
  @include breakpoints("xs"){
    margin: 0 15px;
  }
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0 !important;
}
/* End Global Rules */